@charset "UTF-8";
body {
    margin: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
   
    height: 0vh;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    align-content: center;
}
footer {
    color: white;
}
ul a li {
    padding: 10px 32px;
    display: inline-block;
}
img {
    align-content: center;
}
ul a li:hover {
    background-color: red;
    color: #000000;
}
nav {
    background-color: #000000;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
}
main {
    background-image: inherit;
}
