@charset "UTF-8";
body {
    margin: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(90deg, pink,black,black,black,black,black,black,black,black,black,pink);
    color: #FFFFFF;
    height: 0vh;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
}
ul a li {
    padding: 10px 25px;
    display: inline-block;
}
ul a li:hover {
    background-color: pink;
    color: #000000;
}
nav {
    background-color: #000000;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
}
